In [1]:
import pandas as pd
import requests
import pprint
from config import api_key

In [2]:
us_file = pd.read_csv("Video_CSVs/USvideos.csv")
us_file.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [3]:
# see if there is any missing data
us_file.count()

video_id                  40949
trending_date             40949
title                     40949
channel_title             40949
category_id               40949
publish_time              40949
tags                      40949
views                     40949
likes                     40949
dislikes                  40949
comment_count             40949
thumbnail_link            40949
comments_disabled         40949
ratings_disabled          40949
video_error_or_removed    40949
description               40379
dtype: int64

In [4]:
# get api data to add category names
params = {"part":"snippet","regionCode":"US",
           "key":api_key}
base_url= "https://www.googleapis.com/youtube/v3/videoCategories"
response = requests.get(base_url, params=params).json()
response

{'kind': 'youtube#videoCategoryListResponse',
 'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/S730Ilt-Fi-emsQJvJAAShlR6hM"',
 'items': [{'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
   'id': '1',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Film & Animation',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"',
   'id': '2',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Autos & Vehicles',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/nqRIq97-xe5XRZTxbknKFVe5Lmg"',
   'id': '10',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Music',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/HwXKamM1Q20q9BN-oBJavSGkfDI"',
   'id': '15',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Pets & Animals',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/9GQMSRjrZdHeb1OEM1XVQ9zbGec"',
   'id': '17',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Sports',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/FJwVpGCVZ1yiJrqZbpqe68Sy_OE"',
   'id': '18',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Short Movies',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/M-3iD9dwK7YJCafRf_DkLN8CouA"',
   'id': '19',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Travel & Events',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/WmA0qYEfjWsAoyJFSw2zinhn2wM"',
   'id': '20',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Gaming',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/EapFaGYG7K0StIXVf8aba249tdM"',
   'id': '21',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Videoblogging',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/xId8RX7vRN8rqkbYZbNIytUQDRo"',
   'id': '22',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'People & Blogs',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/G9LHzQmx44rX2S5yaga_Aqtwz8M"',
   'id': '23',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Comedy',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/UVB9oxX2Bvqa_w_y3vXSLVK5E_s"',
   'id': '24',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Entertainment',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/QiLK0ZIrFoORdk_g2l_XR_ECjDc"',
   'id': '25',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'News & Politics',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/r6Ck6Z0_L0rG37VJQR200SGNA_w"',
   'id': '26',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Howto & Style',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/EoYkczo9I3RCf96RveKTOgOPkUM"',
   'id': '27',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Education',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/w5HjcTD82G_XA3xBctS30zS-JpQ"',
   'id': '28',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Science & Technology',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/SalkJoBWq_smSEqiAx_qyri6Wa8"',
   'id': '29',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Nonprofits & Activism',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/lL7uWDr_071CHxifjYG1tJrp4Uo"',
   'id': '30',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Movies',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/WnuVfjO-PyFLO7NTRQIbrGE62nk"',
   'id': '31',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Anime/Animation',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/ctpH2hGA_UZ3volJT_FTlOg9M00"',
   'id': '32',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Action/Adventure',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/L0kR3-g1BAo5UD1PLVbQ7LkkDtQ"',
   'id': '33',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Classics',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/pUZOAC_s9sfiwar639qr_wAB-aI"',
   'id': '34',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Comedy',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/Xb5JLhtyNRN3AQq021Ds-OV50Jk"',
   'id': '35',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Documentary',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/u8WXzF4HIhtEi805__sqjuA4lEk"',
   'id': '36',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Drama',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/D04PP4Gr7wc4IV_O9G66Z4A8KWQ"',
   'id': '37',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Family',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/i5-_AceGXQCEEMWU0V8CcQm_vLQ"',
   'id': '38',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Foreign',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/rtlxd0zOixA9QHdIZB26-St5qgQ"',
   'id': '39',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Horror',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/N1TrDFLRppxZgBowCJfJCvh0Dpg"',
   'id': '40',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Sci-Fi/Fantasy',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/7UMGi6zRySqXopr_rv4sZq6Za2E"',
   'id': '41',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Thriller',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/RScXhi324h8usyIetreAVb-uKeM"',
   'id': '42',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Shorts',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/0n9MJVCDLpA8q7aiGVrFsuFsd0A"',
   'id': '43',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Shows',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"SJZWTG6xR0eGuCOh2bX6w3s4F94/x5NxSf5fz8hn4loSN4rvhwzD_pY"',
   'id': '44',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Trailers',
    'assignable': False}}]}

In [5]:
id_list = []
title_list = []
for i in response['items']:
    #print(i)
    id_list.append(i['id'])
    title_list.append(i['snippet']['title'])

In [6]:
# Create DF
category_df=pd.DataFrame({"category_id":id_list,"title_list":title_list})
category_df["category_id"]=category_df["category_id"].astype("int64")
category_df.dtypes

category_id     int64
title_list     object
dtype: object

In [7]:
# Merge with us_df
us_df=pd.merge(us_file,category_df,on='category_id',how="left")
us_df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,title_list
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,People & Blogs
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",Entertainment
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Comedy
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,Entertainment
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals,Pets & Animals
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,People & Blogs
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...,Entertainment
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...,Film & Animation
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,Gaming

In [8]:
# focus on data that we are interested in
us_df=us_df.loc[:,("trending_date", "title", "channel_title", "title_list", "views", "likes", "dislikes")]
us_df

,trending_date,title,channel_title,title_list,views,likes,dislikes
0,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,People & Blogs,748374,57527,2966
1,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,Entertainment,2418783,97185,6146
2,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,Comedy,3191434,146033,5339
3,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,Entertainment,343168,10172,666
4,17.14.11,I Dare You: GOING BALD!?,nigahiga,Entertainment,2095731,132235,1989
...,...,...,...,...,...,...,...
40944,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,Pets & Animals,1685609,38160,1385
40945,18.14.06,True Facts : Ant Mutualism,zefrank1,People & Blogs,1064798,60008,382
40946,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,Entertainment,1066451,48068,1032
40947,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,Film & Animation,5660813,192957,2846
40948,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,Gaming,10306119,357079,212976

In [9]:
# rename columns
us_df=us_df.rename(columns={"video_id":"Video ID", 
                            "trending_date": "Trending Date",
                            'title': "Title",
                            "channel_title":"Channel Title",
                            'title_list': "Category ID",
                            'views':'Views', 
                            "likes": 'Likes', 
                            'dislikes': "Dislikes",
                            'comment_count': 'Comment Count'})
us_df

,Trending Date,Title,Channel Title,Category ID,Views,Likes,Dislikes
0,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,People & Blogs,748374,57527,2966
1,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,Entertainment,2418783,97185,6146
2,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,Comedy,3191434,146033,5339
3,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,Entertainment,343168,10172,666
4,17.14.11,I Dare You: GOING BALD!?,nigahiga,Entertainment,2095731,132235,1989
...,...,...,...,...,...,...,...
40944,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,Pets & Animals,1685609,38160,1385
40945,18.14.06,True Facts : Ant Mutualism,zefrank1,People & Blogs,1064798,60008,382
40946,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,Entertainment,1066451,48068,1032
40947,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,Film & Animation,5660813,192957,2846
40948,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,Gaming,10306119,357079,212976

In [10]:
#sorted views in descending order (largest values at the top)
top_views=us_df.sort_values("Views",ascending=False)
#top 5 video views
top_5_views = top_views[:5]
top_5_views

,Trending Date,Title,Channel Title,Category ID,Views,Likes,Dislikes
38547,18.02.06,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,Music,225211923,5023450,343541
38345,18.01.06,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,Music,220490543,4962403,338105
38146,18.31.05,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,Music,217750076,4934188,335462
37935,18.30.05,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,Music,210338856,4836448,326902
37730,18.29.05,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,Music,205643016,4776680,321493

In [11]:
#sorted views in ascending order (lowest values at the top)
bottom_views=us_df.sort_values("Views")
#bottom 5 video views
bottom_5_views = bottom_views[:5]
bottom_5_views

,Trending Date,Title,Channel Title,Category ID,Views,Likes,Dislikes
14335,18.26.01,"1 dead, others injured after Ky. school shooting",Newsy,News & Politics,549,9,0
14563,18.27.01,"1 dead, others injured after Ky. school shooting",Newsy,News & Politics,554,9,0
14782,18.28.01,"1 dead, others injured after Ky. school shooting",Newsy,News & Politics,559,9,0
14531,18.27.01,Artwork Forge,Palo Alto Online,Sports,658,1,0
546,17.16.11,Coach Taggart Monday Presser Ahead of Arizona,GoDucksdotcom,Sports,687,10,2

In [12]:
#sort likes in descending order (largest values at the top)
top_likes=us_df.sort_values("Likes",ascending=False)
#top 5 video views
top_5_likes = top_likes[:5]
top_5_likes

,Trending Date,Title,Channel Title,Category ID,Views,Likes,Dislikes
38273,18.01.06,BTS (방탄소년단) 'FAKE LOVE' Official MV,ibighit,Music,123010920,5613827,206892
38072,18.31.05,BTS (방탄소년단) 'FAKE LOVE' Official MV,ibighit,Music,121219886,5595203,205565
37861,18.30.05,BTS (방탄소년단) 'FAKE LOVE' Official MV,ibighit,Music,115664850,5530568,200995
37655,18.29.05,BTS (방탄소년단) 'FAKE LOVE' Official MV,ibighit,Music,111882133,5486349,197638
37453,18.28.05,BTS (방탄소년단) 'FAKE LOVE' Official MV,ibighit,Music,107756615,5439015,194172

In [13]:
#sort likes in ascending order (lowest values at the top)
bottom_likes=us_df.sort_values("Likes")
#bottom 5 video views
bottom_5_likes = bottom_likes[:5]
bottom_5_likes

,Trending Date,Title,Channel Title,Category ID,Views,Likes,Dislikes
1490,17.21.11,Kelly Oubre Punches John Wall in the Lead duri...,Rob Andretti,Sports,2197,0,2
14869,18.29.01,Vince McMahon's Major Sports Announcement,Alpha Entertainment,Sports,132093,0,0
1868,17.23.11,Highlights of the EA predatory behavior announ...,chris lee,People & Blogs,160012,0,0
23516,18.13.03,GET READY WITH ME | Halo Beauty Launch Day,Tati,Howto & Style,928082,0,0
16303,18.05.02,The Unsung,MassMutual,Education,18336,0,0

In [14]:
# Find top viewed Channels
channel_data = us_df.loc[:,("Channel Title", "Views", "Likes", "Dislikes")]
channel_data

                  Channel Title     Views   Likes  Dislikes
0                  CaseyNeistat    748374   57527      2966
1               LastWeekTonight   2418783   97185      6146
2                  Rudy Mancuso   3191434  146033      5339
3         Good Mythical Morning    343168   10172       666
4                      nigahiga   2095731  132235      1989
...                         ...       ...     ...       ...
40944             AaronsAnimals   1685609   38160      1385
40945                  zefrank1   1064798   60008       382
40946                Brad Mondo   1066451   48068      1032
40947  How It Should Have Ended   5660813  192957      2846
40948              Call of Duty  10306119  357079    212976

[40949 rows x 4 columns]

In [15]:
# sum the views, likes, and dislikes for each channel
topviewedchannel_us = channel_data.groupby("Channel Title").sum()["Views"]
toplikedchannel_us = channel_data.groupby("Channel Title").sum()["Likes"]
topdislikedchannel_us = channel_data.groupby("Channel Title").sum()["Dislikes"]

# create a dataframe of the total views, likes, and dislilkes of each channel
channel_summary = pd.DataFrame({"Total Views":topviewedchannel_us,
                               "Total Likes":toplikedchannel_us,
                               "Total Dislikes":topdislikedchannel_us})

# print dataframe
channel_summary

                        Total Views  Total Likes  Total Dislikes
Channel Title
12 News                      177970          352              90
1MILLION Dance Studio      20959169      1399898           15030
1theK (원더케이)               57375949      3663362           63329
20th Century Fox         1082872611     24419452          488761
2CELLOS                      432186        22900             245
...                             ...          ...             ...
ワーナー ブラザース 公式チャンネル          7389323       154962            6128
圧倒的不審者の極み!                 11417717       157447           12315
杰威爾音樂 JVR Music           400530463      3400678          229439
郭韋辰                           26964           99               2
영국남자 Korean Englishman      5963784       147154            2579

[2207 rows x 3 columns]

In [16]:
#sort channel views in descending order (largest values at the top)
topchannelviews_us = channel_summary.sort_values("Total Views", ascending=False)
#top 5 viewed channels
top_5_viewedchannels_us = topchannelviews_us[:5]
top_5_viewedchannels_us

                      Total Views  Total Likes  Total Dislikes
Channel Title
ChildishGambinoVEVO    3758488765     96700818         6054434
ibighit                2235906679    199247121         3467306
Dude Perfect           1870085178     60275557         1501477
Marvel Entertainment   1808998971     55873344         1031250
ArianaGrandeVevo       1576959172     52170970         1931230

In [17]:
#sort channel views in ascending order (lowest values at the top)
lowchannelviews_us = channel_summary.sort_values("Total Views")
#bottom 5 viewed channels
bottom_5_viewedchannels_us = lowchannelviews_us[:5]
bottom_5_viewedchannels_us

                                      Total Views  Total Likes  Total Dislikes
Channel Title
90s Commercials                               773            2               0
GoDucksdotcom                                1391           20               4
OjO Commuter Scooter by OjO Electric         1706            6               1
Total Combat                                 1722           17               3
CHauserable                                  1807            6               3

In [18]:
#sort channel likes in descending order (largest values at the top)
topchannellikes_us = channel_summary.sort_values("Total Likes", ascending=False)
#top 5 liked channels
top_5_likedchannels_us = topchannellikes_us[:5]
top_5_likedchannels_us

                      Total Views  Total Likes  Total Dislikes
Channel Title
ibighit                2235906679    199247121         3467306
ChildishGambinoVEVO    3758488765     96700818         6054434
Dude Perfect           1870085178     60275557         1501477
Marvel Entertainment   1808998971     55873344         1031250
ArianaGrandeVevo       1576959172     52170970         1931230

In [19]:
#sort channel dislikes in descending order (largest values at the top)
topchanneldislikes_us = channel_summary.sort_values("Total Dislikes", ascending=False)
#top 5 disliked channels
top_5_dislikedchannels_us = topchanneldislikes_us[:5]
top_5_dislikedchannels_us

                     Total Views  Total Likes  Total Dislikes
Channel Title
Logan Paul Vlogs       484356303     31545290        13847251
YouTube Spotlight      791388476     20173324        10924092
ChildishGambinoVEVO   3758488765     96700818         6054434
Call of Duty           315404711     11553594         5644083
ibighit               2235906679    199247121         3467306

In [20]:
#Findiing the Sum of Likes 
Likes_Category_US=us_df.groupby('Category ID').sum()["Likes"]
Likes_Category_US_df=pd.DataFrame(Likes_Category_US)
Likes_Category_US_df

                            Likes
Category ID
Autos & Vehicles          4245656
Comedy                  216346746
Education                49257772
Entertainment           530516491
Film & Animation        165997476
Gaming                   69038284
Howto & Style           162880075
Music                  1416838584
News & Politics          18151033
Nonprofits & Activism    14815646
People & Blogs          186615999
Pets & Animals           19370702
Science & Technology     82532638
Shows                     1082639
Sports                   98621211
Travel & Events           4836246

In [21]:
#Finding the Sum of Dislikes 
Dislikes_Category_US=us_df.groupby('Category ID').sum()["Dislikes"]
Dislikes_Category_US_df=pd.DataFrame(Dislikes_Category_US)
Dislikes_Category_US_df

                       Dislikes
Category ID
Autos & Vehicles         243010
Comedy                  7230391
Education               1351972
Entertainment          42987663
Film & Animation        6075148
Gaming                  9184466
Howto & Style           5473899
Music                  51179008
News & Politics         4180049
Nonprofits & Activism   3310381
People & Blogs         10187901
Pets & Animals           527379
Science & Technology    4548402
Shows                     24508
Sports                  5133551
Travel & Events          340427

In [22]:
#Finding the Sum of Views 
Views_Category_US=us_df.groupby('Category ID').sum()["Views"]
Views_Category_US_df=pd.DataFrame(Views_Category_US)
Views_Category_US_df

                             Views
Category ID
Autos & Vehicles         520690717
Comedy                  5117426208
Education               1180629990
Entertainment          20604388195
Film & Animation        7284156721
Gaming                  2141218625
Howto & Style           4078545064
Music                  40132892190
News & Politics         1473765704
Nonprofits & Activism    168941392
People & Blogs          4917191726
Pets & Animals           764651989
Science & Technology    3487756816
Shows                     51501058
Sports                  4404456673
Travel & Events          343557084

In [23]:
Top_5_CategoryID_Views_US=Views_Category_US_df.sort_values("Views", ascending=False)
Top5Viewed_US=Top_5_CategoryID_Views_US.head(5)
Top5Viewed_US

                        Views
Category ID
Music             40132892190
Entertainment     20604388195
Film & Animation   7284156721
Comedy             5117426208
People & Blogs     4917191726

In [24]:
Bottom_5_CategoryID_Views_US=Views_Category_US_df.sort_values("Views", ascending=True)
Bottom5Viewed_US=Bottom_5_CategoryID_Views_US.head(5)
Bottom5Viewed_US

                           Views
Category ID
Shows                   51501058
Nonprofits & Activism  168941392
Travel & Events        343557084
Autos & Vehicles       520690717
Pets & Animals         764651989

In [25]:
#Finding the Sum of (Views, Likes, Dislikes, 'Comment Count')
All_CategoryID_US=us_df.groupby('Category ID').sum()[["Views", 'Likes','Dislikes']]
All_CategoryID_US_df=pd.DataFrame(All_CategoryID_US)
All_CategoryID_US_df

                             Views       Likes  Dislikes
Category ID
Autos & Vehicles         520690717     4245656    243010
Comedy                  5117426208   216346746   7230391
Education               1180629990    49257772   1351972
Entertainment          20604388195   530516491  42987663
Film & Animation        7284156721   165997476   6075148
Gaming                  2141218625    69038284   9184466
Howto & Style           4078545064   162880075   5473899
Music                  40132892190  1416838584  51179008
News & Politics         1473765704    18151033   4180049
Nonprofits & Activism    168941392    14815646   3310381
People & Blogs          4917191726   186615999  10187901
Pets & Animals           764651989    19370702    527379
Science & Technology    3487756816    82532638   4548402
Shows                     51501058     1082639     24508
Sports                  4404456673    98621211   5133551
Travel & Events          343557084     4836246    340427

In [26]:
Total_US=All_CategoryID_US_df.sum()
Total_US

Views       96671770152
Likes        3041147198
Dislikes      151978155
dtype: int64